/*general*/
body {
    margin: 0px;
    font-family: "Montserrat", 'Courier New', Courier, monospace;
}

img:hover {
    cursor: pointer;
}

/*Header*/
.header-superior {
    display: grid;
    grid-template-columns: 30% 30% 40%;
    grid-template-rows: 40px;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;

    .despacho {
        line-height: 20px;
        font-weight: 400;
        font-size: 13px;
        color: #010101;
        display: grid;
        margin-right: -15px;
        grid-template-columns: 10px auto 10px;

        p {
            margin-left: 90px;
            margin-right: 90px;
        }

        img {
            width: 10px;
            align-self: center;
        }
    }

    .ubicacion {
        color: #4e4e4e;
        line-height: 14px;
        font-size: 12px;
        font-weight: 500;

        strong {
            color: #379dff;
        }

        img {
            width: 10px;
        }
    }

    div {
        align-self: center;
        margin: 0 auto;
    }

    .inicio {
        display: grid;
        grid-template-columns: auto auto;
        gap: 50px;
        line-height: 13px;
        font-size: 11px;
        font-weight: 400;

        img {
            width: 15px;
            margin-right: 10px;
        }
    }
}

.categorias-desplegable {
    position: absolute;
    display: none;
    background-color: #fff;
    padding: 10px;
    list-style: none;
    margin: 0;
    width: 450px;

}

div:hover .categorias-desplegable {
    justify-items: left;
    display: grid;
    grid-template-rows: repeat(10, auto);
}

.categorias-desplegable li {
    align-items: center;
    text-align: start;
    align-self: self-start;
    width: 100%;
    display: grid;
    grid-template-columns: auto 10px;
    border-bottom: 1px solid #d9d9d9;

    p {
        color: #000;
        font-size: 16px;
        font-weight: 600;
        justify-self: start;
    }

}

.buscador {
    position: relative;
}

.buscador:hover .lupa {
    transform: scale(1.5);
    background-color: #f3f3f3;
    border: 2px solid #f3f3f3;
}

.formulario {
    display: none;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 78%;

    input {
        font-family: "Montserrat", 'Courier New', Courier, monospace;
        width: 100%;
        height: 50px;
        border-radius: 30px;
        border: 1px solid rgb(225, 225, 225);
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
        justify-items: start;

    }

    img {
        width: 17px;
    }
}

.buscador:focus-within .formulario {
    align-items: center;
    display: grid;
    grid-template-columns: 3% 97%;
}

.oferta {
    align-content: center;
    cursor: pointer;
    height: 22px;
    background-color: #F24130;
    border-left: 15px solid #F24130;
    border-right: 15px solid #F24130;
    border-radius: 20px;
    color: #ffffff;
}

nav {
    color: #4b4b4b;
    line-height: 16px;
    font-weight: 600;
    font-size: 14px;
    margin-left: 100px;
    margin-right: 80px;
    display: grid;
    grid-template-columns: 40px repeat(10, auto) 40px 40px;
    grid-template-rows: 70px;
    margin-left: 100px;
    margin-right: 80px;
    margin-top: 10px;
    margin-bottom: 10px;
    gap: 0;
}

nav div {
    cursor: pointer;
    text-align: center;
    text-align-last: center;
    align-self: center;
}


.cont-der {
    display: grid;
    grid-template-columns: auto auto;

    img {
        border-radius: 4px;
        width: 20px;
    }
}

.cont-carro:hover .carro {
    transform: scale(1.4);
    background-color: #f3f3f3;
    border: 2px solid #f3f3f3;
}

.carro {
    margin-left: 20px;
}

.sesion:hover {
    background-color: rgb(232, 232, 232);


}

.sesion {
    align-content: center;
    text-align: center;
    cursor: pointer;
    height: 35px;
    width: 120px;
    border-radius: 2px;

}

header hr {
    margin: 0;
    width: 100%;
    border: none;
    height: 1px;
    background-color: #dddddd;
}

/*main*/

main {
    display: grid;
    align-self: center;

    .slider {
        margin: 0 auto;

        .content-slider {
            display: grid;
            grid-template-columns: auto auto auto;
            align-items: center;
            gap: 15px;

            .flecha-slider {
                width: 18px;
            }

        }
    }

    .puntos-inferior {

        margin-bottom: 100px;
        justify-self: center;

        img {
            width: 9px;
            margin-left: 3px;
        }
    }
}



main h3 {
    text-align: center;

}

.cuerpo {
    box-shadow: 2px 2px 7px;
    border: 1px solid rgb(243, 243, 243);
    width: 1200px;
    margin: 0 auto;

    h3 {
        margin: 20px;
        font-size: 40px;
    }
}

.contador-oferta {
    display: flex;
    background-image: linear-gradient(to right, #0E1B37, #5D17A0);
    margin: 0 auto;
    margin-top: 20px;
    border: 1px solid black;
    width: 95%;
    height: 50px;
    align-content: center;
    padding-left: 20px;
    text-align: start;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;

    .oferta {
        align-self: center;
        margin-left: 20px;
        font-size: 10px;

    }

    h2 {
        font-size: 20px;
    }
}

.contador-oferta:hover .oferta {
    font-size: 11px;
}

.container-productos {
    padding-left: 50px;
    padding-right: 50px;
    display: grid;
    grid-template-columns: 10PX repeat(4, auto) 10px;
    margin-bottom: 30px;
    height: 75%;
    align-items: center;

    img {
        width: 20px;
    }

    .card-product {
        margin: 0 auto;
        height: 450px;
        width: 240px;
        border: 1px solid rgb(231, 231, 231);
    }
}

.precios-compra {
    display: grid;
    margin-top: 20px;
    row-gap: 8px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40% 60%;

    .precio-descuento {
        text-align: right;
        font-weight: 700;
        font-size: 16px;
        line-height: 18px;
    }

    .contador {
        display: inline-flex;
        grid-template-columns: repeat(3, auto);

        .menos {
            cursor: pointer;
            background-color: #ebebeb;
        }

        .mas {
            cursor: pointer;
            color: #F24130;
        }
    }

    S {
        font-size: 13px;
        font-weight: 300;
    }

    .comprar-ahora {
        cursor: pointer;
        color: #fff;
        font-weight: 700;

        p {
            font-weight: 8px;
            font-size: 8px;
        }
    }
}


.container-img {
    margin-top: 0px;
    display: grid;

    img {
        width: 100%;
    }
}

.contador div {
    height: 100%;
    border: 1px solid #d4d4d4;
    width: 30px;
    align-content: center;
    text-align: center;
    align-self: center;
}

.comprar-ahora {
    height: 100%;
    align-content: center;
    background-color: #000;
    color: #ccc;

    p {
        text-align: center;
        font-size: 10px;
    }
}



.descuento {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 0px;
    background-color: #F24130;
    color: #ffffff;
    text-align: center;
    width: 50px;
    height: 22px;
    font-size: 16px;
    font-weight: 600;
}

i {
    left: 10px;
    width: 13px;
    color: #F24130;
}

.content-card-product {
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(3, auto);

    .categoria-nombre {
        color: #999999;

        p {
            font-weight: 400;
            line-height: 20px;
            font-size: 10px;
        }

        h5 {
            font-weight: 600;
            font-size: 12px;
            line-height: 14px;
        }
    }

    p {
        margin: 0;
    }

    h5 {
        margin: 0;
    }
}

/*footer*/

.footer {
    background-color: #181818;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 50px;

}

.footer-superior {
    padding-left: 190px;
    padding-right: 310px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 40px;

    .content {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}

.tag {
    background-color: #f3f3f3;
    color: #000;
    border-radius: 6px;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 450;
    cursor: default;
    height: 15px;
}

.tag:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.institucional {
    text-align: left;

    .lista {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: left;
    }

    h4 {
        font-weight: 400;
        line-height: 13px;
        color: #fff;
        font-size: 12px;
    }

    .opcion {
        font-weight: 400;
        color: #ababab;
        font-size: 11px;
        margin-top: 13px;
        line-height: 13px;
    }
}

.contacto {
    text-align: left;
    margin-left: 30px;

    h4 {
        font-weight: 400;
        line-height: 13px;
        color: #fff;
        font-size: 12px;
    }

    p {
        font-weight: 13px;
        font-weight: 400;
        color: #ababab;
        font-size: 11px;
        margin-top: 13px;
    }
}

.rrss {
    text-align: left;

    h4 {
        font-weight: 400;
        line-height: 13px;
        color: #fff;
        font-size: 12px;
    }

    p {
        line-height: 13px;
        font-weight: 400;
        color: #ababab;
        font-size: 11px;
        margin-top: 13px;
    }
}

.footer-inferior {

    padding-left: 200px;
    margin-right: 200px;
    display: grid;
    grid-template-columns: auto auto;

    .logos-izq {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: start;
        gap: 40px;
    }

    .logos-der {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: end;
        gap: 40px;
    }
}

footer hr {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 75%;
    border: none;
    height: 1px;
    background-color: #414141;
}

.opcion:hover,
.contacto p:hover,
.rrss p:hover {
    transform: scale(1.05);
    cursor: pointer;
    color: #800000
}